* {
    box-sizing: border-box;
}

:root {
    --black: #000;
    --white: #fff;
    --gray-700: #3C3C3C;
    --gray-400: #8B8B8B;
    --light-blue: #16DB99;
}

body {
    margin: 0;
    font-family: 'Smythe', cursive;
    background-color: var(--gray-700);
}

.wrapper {
    max-width: 400px;
    background-color: var(--white);
    margin: auto;
    position: relative;
}

main {
    padding: 0 1em 1.5em;

}

h1,
h3 {
    margin-bottom: 0;
    font-weight: 300;

}

p {
    margin: 0;
}

/* header */
header {
    background: url(../images/hero-bg.png) center;
    background-size: cover;
    color: var(--white);
    display: grid;
    align-items: center;
    padding: 1em 1.5em 1.5em
}

/* menu */

/* menu-item menu-item__icon menu-item__info menu-item__name 
    menu-item__ingredients menu-item__price menu-item__btn */
.menu {
    padding: 1em 0;
}

.menu-item {
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 0.5em 1em;
    padding: 1.5em 0;
    border-bottom: 1px solid #999;

}

.menu-item__info {
    align-self: center;
    padding-bottom: 0.5em;
}

.menu-item__icon {
    font-size: 4rem;
}

.menu-item__ingredients {
    color: var(--gray-400);
    font-size: 0.8rem;
    margin: 0.5em 0;
    letter-spacing: 1px;
}

.menu-item__btn {
    justify-self: end;
    align-self: center;
    border-radius: 50%;
    border: 1px solid var(--gray-400);
    color: var(--gray-400);
    background: 0;
    width: 30px;
    height: 30px;

}

/* invoice */
.invoice {
    display: grid
}

.invoice__title {
    justify-self: center;
}

.orders {
    padding: 1em 0;
}

.oder__name small {
    color: var(--gray-400);
    padding-left: 0.25em;
    font-size: 0.75rem;
}

.invoice__order {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 0.25em;

}

.invoice__total-price {
    border-top: 2px solid var(--black);
    margin-bottom: 1em;
}

.invoice__price {
    justify-self: end;
    align-self: center;
}

.btn {
    grid-column: 1/-1;
    background-color: var(--light-blue);
    color: var(--white);
    border: none;
    padding: 1em 0;
    margin-bottom: 1.5em;
}

/* modal */
.modal {
    position: fixed;
    display: grid;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 300px;
    max-height: 60vh;
    background-color: antiquewhite;
}
.modal-title{
    justify-self: center;
    font-weight: 700;
    margin-bottom: -10em

}
form {
    display: grid;
    padding: 1em;
    gap: 1em;
}
input{
    padding: 0.7em 0;
}

@media(max-width:310px) {
    .menu-item {
        gap: 0.4em;
    }

    .menu-item__icon {
        font-size: 2.5rem;
    }

    .menu-item__btn {
        margin-right: 1em;
    }
}